*{
    margin: 0;
    padding: 0;
    font-family: 'Andale Mono', sans-serif;
    background-color: #000000;
    color: #00ffff;
}
.cv{
    margin: 0 auto;
    padding: 30px;
    height: 100vh;
    width: 800px;
    border: aqua solid 2px;
    overflow: scroll;
}
.cv h1{
    margin: 20px 200px;
    text-align: center;
}
h3{
    font-weight: bold;
}
.typing {
   padding-right: 10px;
   animation: typeit 3.5s steps(30, end),
}
.caret {
    border-right: #00ffff solid 15px;
    animation: blink-caret .5s step-end infinite; 
}
@keyframes typeit {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00ffff}
  }
@media (max-width: 1080px)
{
    *{
    margin: 0;
    padding: 0;
    font-family: 'Andale Mono', sans-serif;
    background-color: #000000;
    color: #00ffff;
}
.cv{
    margin: auto;
    height: 100vh;
    width: 200px;
    border: aqua solid 1px;
    overflow: none;
    justify-content: center;
    }
.cv h1{
    text-align: center;
}
}
